.block {
  &-space {
    @apply py-8 mb-12;
  }

  &__title {
    @apply text-3xl;
  }
}

.container {
  .container {
    padding: 0;
  }
}

.p-80p {
  padding-bottom: 80%;
}

.p-30p {
  padding-bottom: 30%;
}

.p-100p {
  padding-bottom: 100%;
}

.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
}