// COLORS
// Define all color variables in this document
// Use http://chir.ag/projects/name-that-color/ for naming a color.

$black: #000;
$white: #fff;
$silver: #ccc;

// Gray
$gray: #5a5a5a;
$gray-95: #959595;
$gray-21: #212121;
$gray-d7: #d7d7d7;
$gray-42: #424242;
$gray-f1: #f1f1f1;
$light-gray: #fafafa;

// Red
$red: #8c1515;

// Blue
$blue: #003660;

// Yellow
$yellow: #fecc00;
$dark-yellow: #ffcc00;
$light-yellow: #ffeb96;
$yellow-ff: #fffae6;

// Orange
$orange: #f38230;
$light-orange: #fa8619;

// Brand colors
$primary-color: $blue;
$text-color: $black;

// Link color
$link-color: $black;
$link-color-hover: $primary-color;

// Button color
$btn-color: $primary-color;
$btn-color-hover: lighten($primary-color, 25%);
